<div id="travel" class="container pages_show_content">
		

		<div id="main_body">
		<div class="main_body_region sixty_forty_1">
			<div class="sixty_forty">
	<div class="sixty left">
		<div id="sixty_forty_1_panel_1" class="panel sixty_forty_panel_1">
			<div class="content_widget widget" id="">
	<h2>By car</h2>
<p><strong>To the church:</strong></p>
<p><a href="/pages/the-day">All Saints' Church</a> is on the corner of Onslow Gardens and Addington Road, on the A2022, in Sanderstead. There is a car park beside the church and free parking in nearby roads.</p>
<p><strong>To the reception:</strong></p>
<p>To get from the church to the reception by car:</p>
<ol>
<li>From the church turn left onto Addington Road, go straight across the roundabout onto Rectory park, and continue until the traffic lights with the A22.</li>
<li>Follow the A22 north towards Purley, and immediately after going through the traffic lights beside Tesco, bear left onto the A23 heading south to Coulsdon.</li>
<li>Continue on the A23 through Coulsdon to the Coulsdon by-pass, under the bridge and, after a bit, go straight across the roundabout.</li>
<li>After 2.1 miles, having gone through Hooley, keep in the right-hand lane of the dual carriageway to avoid the M23 /M25, and continue on the A23 towards Redhill.</li>
<li>After a further 2.5 miles, having gone through Merstham and a set of traffic lights, turn right at the Total garage onto the A242, Gatton Park Road towards Reigate</li>
<li>At the traffic lights at the T junction, turn right onto the A25 towards Reigate.</li>
<li>At the odd sculpture by the Esure building follow the one-way system through Reigate town centre, staying on the A25 towards Dorking. After 2.2 miles, and the second sign for Buckland, you’ll see a keep left bollard, a pond to your right and a church to your left.</li>
<li>Turn left immediately into Old Road. After half a mile turn left into Sandy Lane, then immediately right into Hartsfield Manor.</li>
<li>Drive past the main house, there is car park on the right.</li>
</ol>
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="forty right">
		<div id="sixty_forty_1_panel_2" class="panel sixty_forty_panel_2">
			<div class="photo_widget widget">

	<div class="gallery_item">
		<%= image_tag 'car.jpg' %>
	</div>
	
</div>
			<div>
				
			</div>
			<div class="photo_widget widget">

	<div class="gallery_item">
			<%= image_tag 'map.jpg' %>
		
			<div class="photo_widget_caption">
				Click to view full size map
			</div>
		
	</div>
	
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="spacer"></div>
</div>						
		</div>
	
		<div class="main_body_region sixty_forty_2">
			<div class="sixty_forty">
	<div class="sixty left">
		<div id="sixty_forty_2_panel_1" class="panel sixty_forty_panel_1">
			<div class="photo_widget widget">

	<div class="gallery_item">
			<%= image_tag 'public_transport.jpg' %>
	</div>
	
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="forty right">
		<div id="sixty_forty_2_panel_2" class="panel sixty_forty_panel_2">
			<div class="content_widget widget" id="">
	<h2>Public Transport</h2>
<p><strong>To the church:</strong></p>
<p><strong></strong>The nearest railway stations to All Saints' Church are Sanderstead, Purley Oaks and Riddlesdown. The church is approx 1.3 miles (uphill) from each of them. The 403 bus route runs close to Sanderstead station, and is 1/4 mile from Purley Oaks. The 412 bus route runs 1/4 mile from Riddlesdown station. Both routes stop close to All Saints' Church.</p>
<p>For more information, and directions from other locations in London, see&nbsp;<a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a>.</p>
<p><strong>To the reception:</strong></p>
<p>Guests are invited to reserve a seat on the coach travelling to the reception after the ceremony (see below).</p>
<p><strong>Home from the reception:</strong></p>
<p>Betchworth railway station is approx 1 mile from Hartsfield manor. This is a local station on the line between Reading and Redhill, with a relatively infrequent service. Regular train services are available to London from Dorking (3.4 miles away) and Redhill (5.1 miles away). Please ask at the hotel reception if you would like to order a taxi.</p>
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="spacer"></div>
</div>						
		</div>
	
		<div class="main_body_region sixty_forty_3">
			<div class="sixty_forty">
	<div class="sixty left">
		<div id="sixty_forty_3_panel_1" class="panel sixty_forty_panel_1">
			<div class="content_widget widget" id="">
	<h2>By coach</h2>
<p><strong>To the church:</strong></p>
<p><strong></strong>For anyone wishing to get ready at Hartsfield Manor before the ceremony, a coach will be leaving Hartsfield Manor for All Saints' Church at 12:45.</p>
<p><strong>To the reception:</strong></p>
<p><strong></strong>The coach will also be travelling from All Saints' Church to the reception at Hartsfield Manor after the ceremony.&nbsp;</p>
<p>Please indicate in your <a title="RSVP" href="/pages/rsvp">RSVP</a> if you would like a space for either of these journeys.</p>
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="forty right">
		<div id="sixty_forty_3_panel_2" class="panel sixty_forty_panel_2">
			<div class="photo_widget widget">

	<div class="gallery_item">
			<%= image_tag 'coach.jpg' %>
	</div>
	
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="spacer"></div>
</div>						
		</div>
	
		<div class="main_body_region sixty_forty_4">
			<div class="sixty_forty">
	<div class="sixty left">
		<div id="sixty_forty_4_panel_1" class="panel sixty_forty_panel_1">
			<div class="photo_widget widget">

	<div class="gallery_item">
			<%= image_tag 'taxi.jpg' %>
	</div>
	
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="forty right">
		<div id="sixty_forty_4_panel_2" class="panel sixty_forty_panel_2">
			<div class="content_widget widget" id="">
	<h2>By taxi</h2>
<p><strong>To the church:</strong></p>
<p>There are taxi ranks at Gatwick Airport and East Croydon station. Alternatively, try:</p>
<ul>
<li>Sanderstead Cars 0208 657 7777</li>
<li>Century Cars 0208 668 1606</li>
</ul>
<p><strong>From the reception:&nbsp;</strong></p>
<p>If you would like to book a taxi from the Hartsfield Manor, please ask at reception. From the hotel it is just over half an hour's drive to Gatwick Airport, and 10-15 minutes to Dorking or Redhill stations.</p>
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="spacer"></div>
</div>						
		</div>
	
	
	
</div> <!-- main_body -->
	</div>